@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

*{
	box-sizing: border-box;
	font-family: Raleway;
	color : #777;
}

@font-face{
	font-family: "1";
	src: url(Fonts/1.woff) format("woff"),
		url(Fonts/1.woff2) format("woff2");
	font-weight: normal;
	font-style : normal;
}

html,body{
	margin: 0;
	padding: 0;
}

.nav ul{
	margin: 0;

}

.nav a{
	display: inline-block;
	padding: .7em;

	text-decoration: none;
}
.nav li{
	display: inline;
}


.nav a:hover{
	background-color: rgba(255,255,255,.3);
}

.main-nav{
	text-align: center;
	font-size: 1.3em;
	font-weight: lighter;
	border-bottom: 1px solid rgba(255,255,255,.3)
}

.main-nav li{
	padding: 0 5%;
}
.main-header{
	background-color:rgba(0,0,0,.6);
	background-image: url(images/1.png);
	background-size: cover;
	background-blend-mode: multiply;
	padding-bottom: 30px;
}

.band-name {
	text-align: center;
	margin: 0;
	font-size: 4em;
	font-family: "1";
}

.band-name-main {
	font-size: 11em;
	color:white;
	letter-spacing : 0.03em;
}

.content-section{
	padding : 0;
	margin: 1em;
}

.container{
	max-width: 1100px;
	margin: 0 auto;
	padding : 0 1.5em;
}

.section-header {
	text-align: center;
	font-size: 2.5em;
	font-family: "1";
	letter-spacing: 0.25em;
}

.band-img-about {
	width: 300px;
	heigh: 300px;
	float: left;
	padding : 10px;
	margin : 15px;
	border-radius: 50%;

}

.main-footer {
	background-color: rgba(44, 130, 201, 1);
	color: white;
}

.main-footer .band-name {
	color: white;
}
.main-footer-container {
	display: flex;
	align-items: center;


}

.main-footer-container ul {
	flex-grow: 1;
	text-align: end;
}

.footer-nav{
	padding: 0 .5em;
}

.footer-nav img{
	height: 30px;
	width: 30px;
}


.btn{
	text-align: center;
	vertical-align: middle;
	padding: 0.5em;
	cursor: pointer;
}

.btn-main{
	margin: 15px 15%;
	font-weight: lighter;
	font-size: 1.25em;
	background-color: rgba(255,255,255,0.1);
	border: solid 1px blue;
	padding: auto 15%;
}

.btn-main:hover{
	background-color: rgba(255,255,255,0.3);
}

.btn-play{
	margin: 0 auto;
	display: block;
	color: blue;
	font-size: 3.5em;
	border-radius: 50%;
	padding: 0;
	width: 100px;
	height: 100px;
}

.tour-row{
	border-bottom: 1px solid black;
    padding-bottom: 0.5em;
    margin-bottom: 1em;

}

.tour-item{
	display: inline-block;
	padding-right: 0.5em;
}

.tour-row:last-child{
	border: none;
}

.tour-date{
	font-weight: bolder;
	width: 11%;
}

.tour-place{
	width: 24%;
}

.tour-arena{
	width: 42%;
}

.tour-btn{
	max-width: 19%;
	background-color: #2E9CDB;
	border: solid 1px blue;
	padding: auto 15%;
	color: white;
	font-weight: lighter;
}


.tour-btn:hover{

	background-color: rgba(46,156,219,0.7);


}

.shop-item{
	margin: 30px;
}

.shop-item-title{
	display: block;
	width: 100%;
	text-align: center;
	font-weight: bold;
	color: #333;
	margin-bottom: 15px;

}
.shop-item-image{
	width: 250px;
}

.shop-item-details{
	display: flex;
	align-items: center;
	padding: 5px;
}

.shop-item-price{
	flex-grow: 1;
	
}


.shop-items{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

}

.shop-item-button{
	font-size: 0.75em;
	background-color: blue;
	color: white;
	justify-content: flex-end;
	margin:0;

}

.shop-item-button:hover{
	background-color: rgba(46,156,219,0.7);

}

.cart-header{
	font-weight: bold;	
	font-size: 1.2em;
	color: #333;
}

.cart-column {
	display: flex;
	align-items: center;
	border-bottom: 1px solid black;
	margin-right: 1.5em;
	padding-bottom: 10px;
	margin-top: 10px;
}

.cart-row {
	display: flex;
}

.cart-item{
	width: 45%;

}

.cart-price{
	width: 15%;

}

.cart-qty{
	width: 40%;

}

.cart-item-title{
	margin-left: 15px;
	color: #333;
	font-size: 1.2em;
}

.cart-item-image{
	width: 75px;
	height: auto;
	border-radius: 10%;
}

.cart-qty-btn{
	background-color: #BC2F27;
	color: white;
	font-weight: bolder;
	border: none;
	border-radius: 15px;
}

.cart-qty-btn:hover{
	background-color: rgba(188, 47, 39, 0.7);
}

.cart-qty-input{
	height: 34px;
	width: 50px;
	border-radius: 5px;
	border: 1px solid #2E9CDB;
	background-color: #eee;
	color: #333;
	text-align: center;
	font-size: 1.2em;
	margin-right: 25px;
}

.cart-row:last-child{
	border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column{
	border:none;

}

.cart-total{
	text-align: end;	
}

.cart-total-title{
	font-size: 1.3em;
	color: #333;
}

.cart-total-amount{
	font-size: 1.3em;
	color: #333;
}

.btn-purchase{
	background-color: #2E9CDB;
	color: white;

}

.btn-purchase:hover{
	background-color: rgba(46,156,219,0.7);
	font-weight: bolder;

}

.purchase{
	display: flex;
	justify-content: center;
}
